
<div class="sidebar" id="sidebar">
    <ul>
        <button id="toggle-menu-close" class="toggle-menu">
            <i class="fas fa-arrow-right"></i>
        </button>
        <li><a href="@Url.Action("Index", "CoffeeShops")">CoffeeShop</a></li>
        <li><a href="@Url.Action("Index", "Orders")">Order</a></li>
        <li><a href="@Url.Action("Index", "MenuItems")">MenuItem</a></li>
        <li><a href="@Url.Action("Index", "Categories")">Category</a></li>
        <li><a href="@Url.Action("Index", "Notifications")">Notification</a></li>
        <li><a href="@Url.Action("Index", "LoyaltyPrograms")">LoyaltyProgram</a></li>
        <li><a href="@Url.Action("Index", "Users")">User</a></li>
    </ul>
</div>
